<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757087496576-q7mj8h08t6i4d0rskqqkdet2a9oip7a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757087496576-q7mj8h08t6i4d0rskqqkdet2a9oip7a1</string>
	<key>API_KEY</key>
	<string>AIzaSyCuBNxsnjJtbVntk7RmFegF1NSGEHxRgrs</string>
	<key>GCM_SENDER_ID</key>
	<string>757087496576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eltriodigitalFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-eltriodigital</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-eltriodigital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757087496576:ios:5272ea9ef34d2f8f1af965</string>
</dict>
</plist>